<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>단기예약 목록</title>
</head>
<body>

<h1>단기예약 목록</h1>

<table>
    <thead>
    <tr>
        <th>예약번호</th>
        <th>예약 생성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.reservationSId}"></td>
        <td th:text="${reservation.reservationSCreateDate}"></td>
        <td><a th:href="@{/reservations/show/{id}(id=${reservation.reservationSId})}">세부 조회</a></td>
        <td><a th:href="@{/reservations/edit/{id}(id=${reservation.reservationSId})}">수정</a></td>
        <td><a th:href="@{/reservations/delete/{id}(id=${reservation.reservationSId})}" onclick="return confirm('정말 취소하시겠습니까?')">취소</a></td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/reservations/new">새로 예약하기</a>

</body>
</html>
